* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Times, serif;
}

/* Navigation */

.nav, .hero, li > a {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: rgb(207, 150, 4);
}

.main-links {
    display: flex;
    gap: 20px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 30px 50px 0px;
    flex: 1 1 300px;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(207, 150, 4);
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    gap: 10px;
    font-size: 18px;
}

.sign-up {
    flex-basis: 25px;
    width: 100px;
    background-color: rgb(207, 150, 4);
    font-weight: 900;
    border-radius: 7px;
    border-style: none;
}

.hero-img {
    max-width: 400px;
    height: auto;
}

figure {
    border: 5px solid rgb(207, 150, 4);
}

figcaption {
    background-color: #21262e;
    margin-top: -5px;
    padding: 5px;
}

figcaption a {
    color: rgb(153, 153, 153);
}