* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Times, serif;
}

.nav, .hero, li > a {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.main-links {
    display: flex;
    gap: 20px;
}