
/* Fonts */
.kelly-slab-regular {
    font-family: "Kelly Slab", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Times, serif;
}

/* Navigation */

.nav, .hero, li > a {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: rgb(207, 150, 4);
}

.main-links {
    display: flex;
    gap: 20px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 50px 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(207, 150, 4);
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 100px;
    max-width: 500px;
    gap: 10px;
    font-size: 18px;
    color: rgb(163, 163, 163)
}

.sign-up {
    flex-basis: 25px;
    width: 100px;
    background-color: rgb(207, 150, 4);
    font-weight: 900;
    border-radius: 7px;
    border-style: none;
}

.hero-img {
    width: 100%;
    height: auto;
}

figure {
    border: 5px solid rgb(207, 150, 4);
    flex: 1 1 100px;
    max-width: 400px;
}

figcaption {
    background-color: #21262e;
    margin-top: -5px;
    padding: 5px;
}

figcaption a {
    color: rgb(153, 153, 153);
}

/* Random Facts Section */

.random-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.box, .box-content {
    width: 150px;
}
.box {
    height: 150px;
    border: 3px solid rgb(207, 150, 4);
    border-radius: 7px;
}